html {
    background-color: black;
}
.viewport {
    display: inline-block;
    position: relative;
    margin-bottom: 8px;
}

.mapcontainer {
    position: relative;
    top: 0;
    left: 0;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.ship {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
}