html {
    background-color: white;
    color: black;
}

body {
    width: 640px;
}

.viewport-container {
    position: relative;
    height: 336px;
    margin-bottom: 8px;
}

.viewport {
    display: inline-block;
    position: absolute;
    margin-bottom: 8px;
}

.cockpit {
    position: absolute;
    top: 0;
    left: 0;
}

#testSection {
    display: block;
}

#testSection h1 {
    font-family: sans-serif;
    font-size: large;
}

#testSection table {
    border-spacing: 0;
    border-left: solid 1px black;
    border-top: solid 1px black;
}

#testSection table td {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    padding: 5px;
}

#testSection input[type="number"] {
    width: 5em;
}

.fail {
    font-weight: bold;
    color: red;
}

.pass {
    color: green;
}

.compass-band {
    display: block;
    background-color: #6B6B6B;
    text-align: center;
    height: 24px;
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compass-band .compass-box {
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    width: 48px;
    height: 18px;
    background-color: #464646;
    color: #FFB086;
    overflow-x: hidden;
}

.compass-band .compass-box .compass {
    position: relative;
    left: 0;
}

.dashboard {
    position: relative;
    height: 140px;
}

.map-container {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 130px;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.ship {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
}

.dirpad {
    position: absolute;
    display: inline-flex;
    align-items: center;
    right: 0;
    top: 0;
}

.dirpad .btn-col {
    width: 48px;
    margin: 8px;
}

.dirpad .btn-col.other {
    width: 96px;
    margin: 8px;
}

.dirpad .btn-col.other button {
    width: 100%;
}

.dirpad button {
    border: solid 1px black;
    cursor: pointer;
    font-size: 40px;
    margin-bottom: 8px;
    min-width: 48px;
    text-align: center;
}

.dirpad button.small {
    font-size: 20px;
}
.dirpad .left-btn {
}

.dirpad .right-btn {
}

.dirpad .up-btn {
    display: block;
}

.dirpad .down-btn {
    display: block;
}