wave-cylinder.scad
3d-function.scad
draw-helpers.scad
extrusion.scad
forma-candle-holder.scad
skin.scad
spiral-2d.scad
superformula.scad
sweep-drop.scad
sweep-path.scad
sweep-test.scad
sweep.scad
toothed-belt.scad
trefoil-knot-sweep.scad
twisted-torus-ring.scad
*.kicad_pcb-bak
*.sch-bak
*-cache.lib
fp-info-cache
fp-lib-table
_autosave*
.vscode
*-backups
JoyKeyMX/Universal-Switch-Footprint
**/#auto_saved_files#
*.kicad_sch-bak
*.tmp
*.ods#
.~lock.*.csv#
